.calendar-agenda {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.rbc-toolbar-label {
    font-weight: bold;
    text-transform: capitalize;
}

.rbc-header {
    text-transform: capitalize;
}