.modalBoxContainer {
  background-color: white;
  left: 50%;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 25px;
  width: 650px;
  /* height: -webkit-fill-available; */
  border-radius: 15px;
  box-shadow: 15px 15px 15px 0px rgb(0 0 0 / 10%);
}

.modalBoxFooter {
  border-top: 1px solid var(--borderGrey);
  padding-top: 10px;
}

.buttonContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 950px) {
  .modalBoxContainer {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .modalBoxContainer {
    width: 400px;
  }

  .timeSection {
    margin-left: 0px !important;
  }

  .modalSectionTitle {
    font-size: 20px !important;
  }

  /* .row>* {
    width: 50%!important;
} */
}

/* modal body */
.modalSectionTitle {
  color: rgba(0, 145, 138, 0.725);
  font-size: 25px;
  border-bottom: 1px solid var(--borderGrey);
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos entre los extremos */
  align-items: center;
}

.modalBoxContainer h4 {
  text-align: center!important;

}

.modalSectionBody {
  padding: 10px 8px;
}

.modalSectionSubTitle {
  color: rgba(0, 0, 0, 0.884);
  border-bottom: 1px solid var(--borderGrey);
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.modalFilesTitle {
  font-weight: lighter;
}

.modalFileContainer {
  display: flex;
  padding: 2px 10px;
  flex-direction: column;
}

.modalFileContainer:hover {
  background-color: rgba(223, 223, 223, 0.274);
  cursor: pointer;
}

.modalFileContainer:hover .modalFilesIcon {
  color: rgba(0, 110, 105, 0.725);
}

.modalFilesIcon {
  color: rgba(0, 145, 138, 0.725);
}

.modalFileRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4rem;
}

.divider {
  /* border-bottom-width: medium!important; */
  border-color: rgba(0, 145, 138, 0.725) !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.row > * {
  width: 50% !important;
}

.timeSection h4 {
  font-weight: 400 !important;
}
.event-content {
  top: 20px;
  position: relative;
}
